
p{
    font-size: 1.2em;
    border: 6px;
    padding: 0.5em;
    background-color: lightgreen;
    color: purple;
    text-align: center;
    border-style: dashed;
    border-color: purple;
    width: 12%;
}
