* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    display: grid;
    grid-template-areas: 
    "cabecera cabecera"
    "contenido menu"
    "pie pie"
    ;
}

header {
    grid-area: cabecera;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
}
header img {
    height: 150px;
    width: 150px;
}
img {
    height: 250px;
    width: 250px;
}

header h1 {
    font-family: 'Courier New';
    color: cornflowerblue;
    font-size: 8em;
}
h2{
    font-family: 'Courier New';
    color: cornflowerblue;
    font-size: 2em;
    margin-left: 20em;
    margin-right: 10em;
    padding: 1em;
    background-color: white;
    text-align:center;
}
main {
    grid-area: contenido;
}
aside {
    grid-area: menu;
}
footer {
    grid-area: pie;
}